.cateitem
{
width:100%;
border:'2px solid #DDD';
font-size:70%;
margin-top:2px;
margin-bottom:2px;
margin-left:5px;
margin-right:5px;
word-wrap: break-word;
border-radius: 5px;
}

.th0
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td0odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td0eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}


.th1
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td1odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td1eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}

.th3
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td3odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td3eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}

.th4
{
    width:10%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td4odd
{
    width:10%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td4eve
{
    width:10%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}

.th5
{
    width:8%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td5odd
{
    width:8%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td5eve
{
    width:8%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}
.th6
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td6odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td6eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}
.td6changed
{
    width:5%;
    background-color: red;
    text-align: center;
	font-size:60%;
}
.th7
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td7odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td7eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}
.th8
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td8odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td8eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}
.th9
{
    width:5%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td9odd
{
    width:5%;
    background-color: snow;
    text-align: center;
	font-size:60%;
}
.td9eve
{
    width:5%;
    background-color: #E6F3F9;
    text-align: center;
	font-size:60%;
}
.th10
{
    width:25%;
    background-color: #3366FF;
    text-align: center;
	font-size:60%;
}
.td10odd
{
    width:25%;
    background-color: snow;
	font-size:60%;
}
.td10eve
{
    width:25%;
    background-color: #E6F3F9;
	font-size:60%;
}

/*分享状态样式*/
.shareBox .shareState{
    width: 100%;
    position: relative;
    overflow: hidden;    
}
.shareBox .shareState .shareSateList{
    width: 100%;
	user-select: none;
	margin-left:20px;
}

.shareBox .shareState .item{  /*名片样式*/
    width: 175px;
    height: 145px;
    float: left;
    border:1px solid #dfdfdf;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
	/*background-image:linear-gradient(#d3cfee, #d5d6da);*/
	background-color: rgb(230, 232, 233);
}
/*.shareBox .shareState .item:hover{
    border:1px solid #f3f1f0;
    cursor: pointer;
    background-image:url(../imgs/delete.png);
    background-repeat: no-repeat;
	background-color: rgb(97, 124, 241);
}*/
.shareBox .shareState .itemInfo{   
    position: absolute;
    top: 5px;
    left: 5px;
	margin-bottom:5px;
	display: flex;
	align-items: center;
	text-align: center;
	/*border:2px solid #f3f1f0;*/
	width:90%;
}
.shareBox .shareState .itemDetail{   
    position: absolute;
    top: 60px;
    left: 5px;
}

